.welcome-section{
    padding: 8% 0 15%;
    min-height: 600px;
    height: 100%;
}

.subtext{
    color: #979797;
    font-weight: 400;
    font-size: 24px;
    margin : 15px;
    font-family: "PT Sans", sans-serif;
}


.invivoo-logo{
    height : 150;
     width : 280;
}