<div class="welcome-section">
  <div class="container text-center">
      <div>
        <h1><img src="assets/invivoo-logo-big.JPG" class="invivoo-logo"  /></h1>
        <div class="container container--small">
            <h3 class="subtext">
              Welcome to Invivoo communication center ! Please Log In.
            </h3>
            <div>
                <dx-button text="Log In" type="default" (onClick)="redirectLogin()"></dx-button>
            </div>
        </div>
    </div>
  </div>
</div>
