<div class="login-section">
  <div class="container text-center">
      <div>
        <h1><img src="assets/logo-invivoo.png" class="small-logo-invivoo"/></h1>
        <div class="container container--small user-login-form">
          <dx-form
          [(formData)]="login"
          [readOnly]="false"
          validationGroup="loginGroup">
          <dxi-item dataField="Login">
            <dxi-validation-rule type="required" message="Login is required"></dxi-validation-rule>
          </dxi-item>
          <dxi-item [editorOptions]="{ mode: 'password' }" dataField="Password">
            <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
          </dxi-item>
          </dx-form>
          <div class="submit-button">
          <dx-button validationGroup="loginGroup"  type="default" [useSubmitBehavior]="true" (onClick)="submitLogin()" text="Submit" ></dx-button>
           </div>
        </div>
    </div>
  </div>
</div>
